<!-- <app-title-bar></app-title-bar> -->
<div class="bgImage"></div>
<div class="container">
    <div class="centerLogin">
        
        <form >
            <h1 class="labelTitle">Login</h1>
            <div class="loginTextField">
                <input type="text" class="loginInput user" placeholder="Username">
            </div>
            <div class="loginTextField">
                <input type="password" class="loginInput password" placeholder="********">
            </div>
            <button class="sendButton" id="sendButton">Entrar</button>  
        </form>
    </div>
</div>
