.demo-table {
    width: 100%;
    height: 80%;
    max-height: 80%;
    background-color: #211F26;
    border: 1px solid #6750A4;
    border-bottom: 1px solid #6750A4;
    overflow: auto;
}


.mat-mdc-row {
    color: #fff !important;

}

.mat-mdc-cell {
    font-family: 'Roboto' sans-serif !important;
    font-size: 12px;
    font-weight: 300;
    color: #fff !important;
    max-height: 10px !important;


}


.mat-column .mat-mdc-row .mat-mdc-cell {
    border: 0.4px solid #6750A4;
    cursor: pointer;

}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    border-top: 0.4px solid currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}




.pag {
    width: 100%;
    height: 20%;

}



.mat-mcd-header-row {
    color: #fff !important;

}

.mat-mdc-row {
    border-bottom: 0.6px solid #6750A4;
}

.mat-column-npedido {
    color: #fff;
    border-right: 0.4px solid #6750A4;
}

.mat-column-pedido {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    max-width: 10%; // this is max width of column
    max-height: 5px;
    word-break: break-word !important;
    flex: 0 0 25% !important;
    color: #fff;
    border-right: 0.4px solid #6750A4;
}

.mat-column-mesa {
    color: #fff;
    border-right: 0.4px solid #6750A4;
}

.mat-column-fecha {
    color: #fff;
    border-right: 0.4px solid #6750A4;
}

.mat-column-hora {
    color: #fff;

}

.mat-row {
    width: 100%;
    height: 10%;
}

.mat-mdc-paginator {
    background: #211F26;
    color: #fff !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 5px 16px 5px 16px;
}