<!-- <app-left-menu></app-left-menu> -->
<!-- <app-title-bar></app-title-bar> -->
<div class="container">
    <div class="leftMenu" id="leftMenu" [style.width]="leftMenuStyles.width">
        <div class="button">
            <i [style.transform]="leftMenuStyles.transform"></i>
        </div>
        
    </div>
    <div class="cardContainer">
        <div class="cardTableContainer">

        </div>
        <div class="cardButtonsContainer">

        </div>
    </div>
    
    <div class="rightMenu" id="rightMenu">
        <i></i>
    </div>
</div>