<!-- <app-left-menu></app-left-menu> -->
<!-- <app-title-bar></app-title-bar> -->
<div class="container">
    <div class="leftMenu" id="leftMenu" [style.width]="leftMenuStyles.width">
        <div class="button">
            <i [style.transform]="leftMenuStyles.transform"></i>
        </div>
        
    </div>
    <div class="cardContainer">
        <div class="cardTableContainer">
            <div class="inspector">
                
            </div>
            <div class="table">
                <app-cocina-table></app-cocina-table>
                  <!-- <div>
                    <h3>
                      Click Log
                    </h3>
                  </div>
                  
                  <div *ngIf="!clickedRows.size">
                    Clicked rows will be logged here
                  </div>
                  
                  <ul>
                    <li *ngFor="let clickedRow of clickedRows">
                      Clicked on {{clickedRow.name}}
                    </li>
                  </ul> -->
                  
                  
                  
                  
            </div>
        </div>
        <div class="cardButtonsContainer">

        </div>
    </div>
    
    <div class="rightMenu" id="rightMenu">
        <i></i>
    </div>
</div>